@import "reset.css";

li {
  list-style: none;
}

p {
  margin: 0;
}

#todo-form {
  display: flex;
  flex-direction: column;
}

#todo-list {
  display: flex;
  flex-wrap: wrap;
}

#todo-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fdff9e;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.todo-delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
